include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/bioschemaharvester *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/bioschemaharvester/migration *.ini *.py *.mako
